#cart {
  position: relative;
  padding: 0;
  border: solid 0.14em  #e70012;;
  height: 30em;
}

#cart div {
  position: relative;
  width: 100%;
}

#cart #div_order_list {
  height: 80%;
  overflow: auto;
}
#cart #div_order_sum {
  height: 10%;
}

#cart #div_order_list table {
  position: relative;
  width: 100%;
  max-height: 95%;
  margin: 0;
  border: none;
  border-collapse: collapse;
  overflow: auto;
}

#cart h2 {
  margin: 0;
  color: white;
  background-color: #e70012;
  font-size: 1.2em;
  padding: 0.2em;
  background-image: linear-gradient(to bottom,#e70012 0,#BD0E0E 100%);
  font-weight: bold;
}

#cart #div_order_list table thead th {
  width: 25%;
  text-align: center;
  font-size: 0.9em;
  font-color: #333;
  padding: 0.1em;
}
#cart #div_order_list table tbody td {
  font-size: 1em;
  font-color: #333;
  padding: 0.1em;
}

#cart #div_order_sum label {
  display: block;
  width: 95%;
  margin: 0.1em auto;
  text-align: right;
  background-image: linear-gradient(to bottom,#e70012 0,#BD0E0E 100%);
  padding: 0.3em;
  font-size: 0.9em;
}


#cart #div_order_sum button {
  width: 95%;
  margin: 0 auto;
}

@media screen and (max-width: 44em) {
  #cart {
    display: none;
  }
}
