#cart {
  width: 250px;
  position: relative;
  border: solid 3px  #e70012;;
  padding: 0;
}

#cart h2 {
  margin: 0;
  color: white;
  background-color: #e70012;
}

#cart table {
  position: relative;
  width: 100%;
}
#cart table thead th {
  width: 25%;
  text-align: center;
}