#cart {
  position: relative;
  padding: 0;
  border: solid 0.14em  #e70012;;
  height: 30em;
}

#cart div {
  position: relative;
  width: 100%;
}

#cart #div_order_list {
  height: 77%;
  overflow: auto;
}
#cart #div_order_sum {
  height: 20%;
}

#cart #div_order_list table {
  position: relative;
  width: 100%;
  max-height: 95%;
  margin: 0;
  border: none;
  border-collapse: collapse;
  overflow: auto;
}

#cart h2 {
  margin: 0;
  color: white;
  background-color: #e70012;
  font-size: 1.2em;
  padding: 0.4em;
  background-image: linear-gradient(to bottom,#e70012 0,#AC0000 50%);
  font-weight: bold;
}

#cart #div_order_list table thead th {
  width: 25%;
  text-align: center;
  font-size: 0.9em;
  font-color: #333;
  padding: 0.1em;
}
#cart #div_order_list table tbody td {
  font-size: 0.9em;
  font-color: #333;
  padding: 0.3em;
  border-bottom: 1px #b56e56 solid;
  color: #a34a2c;
}

#cart #div_order_sum label {
  display: block;
  width: 95%;
  margin: 0.1em auto;
  text-align: right;
  background-color: #FAF0EB;
  padding: 0.3em;
  font-size: 0.9em;
  color: #A34A2C;
}


#cart #div_order_sum button {
  width: 95%;
  margin: 0 auto;
  border-color: #CCC;
  background-color: #e70012;
  background-image: linear-gradient(to bottom,#e70012 0,#AC0000 50%);
}

@media screen and (max-width: 44em) {
  #cart {
    background-color: #FAF0EB;
  }
  #cart h2,
  #cart div {
    float: left;
  }
  #cart h2{
    width: 30%;
  }
  #cart div {
    width: 70%;
  }
  #cart #div_order_sum label {
    float: left;
    width: 70%;
    margin: 0;
    text-align: left;
    font-size: 1.2em;
    padding: 0.4em;
  }
  #cart #div_order_sum button {
    float: right;
    display: inline;
    width: 30%;
  }
  #cart #div_order_list {
    display: none;
  }
}
