#cart {
  height: 30em;
  position: relative;
  border: solid 0.2em  #e70012;;
  padding: 0;
}

#cart h2 {
  margin: 0;
  color: white;
  background-color: #e70012;
  font-size: 1.2em;
  padding: 0.2em;
  background-image: linear-gradient(to bottom,#e70012 0,#BD0E0E 100%);
}

#cart table {
  position: relative;
  width: 100%;
}
#cart table thead th {
  width: 25%;
  text-align: center;
  font-size: 0.9em;
  font-color: #333;
}

@media screen and (max-width: 44em) {
  #cart {
    display: none;
  }
}
