
#menu .menu_item {
  position: relative;
  border: solid 0.1em #ccc;
  width: 32%;
  float: left;
  margin: 0.5%;
  padding: 0;
}

#menu .menu_item img {
  width: 100%;
}

s#menu .menu_item button {
  float: right;
}

@media screen and (max-width: 44em) {
  #menu .menu_item {
    width: 48%;
  }
}