nav.navbar {
  background-image: linear-gradient(to bottom,#e70012 0,#AC0000 50%);
}
.navbar-default .navbar-nav>li>a {
  font-weight: bold;
  color: #eee;
}
.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus {
  color: #e70012;
  background-color: #f8f8f8;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
  color: #e70012;
}
div.navbar-header img {
  width: 10em;
}
.navbar-default .navbar-nav span.badge {
  background-color: #F59393;
}
